<footer class="footer ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h6>Copyright &copy; 2019 all reserved</h6>
                </div>
            </div>
            <div class="offset-md-3 col-md-5 foot">
                <div class="copyright">
                    <!-- <h6>This template is made with <i class="material-icons">favorite_border</i> by ecoRise Software
                        Solutions, Pune</h6> -->
                </div>
            </div>
        </div>
    </div>
</footer>