img{  
    border-radius: 40%;  
    height: 40px !important; 
}
.navhead{
    height: 85px !important;
}
.dropdown-item:active{
    background-color: rgb(4, 155, 4) !important;
}
.dropdown-item:hover{
    background-color: navy !important;
}
.logoutBtn{
    background: navy !important;
    color : white !important
}

/* .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    margin-right: 15px !important
} */

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 45px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    margin-right: 35px !important
}