
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <!-- <a class="navbar-brand font-weight-normal" href="#">Welcome to {{getTitle()}}</a> -->
            <a class="navbar-brand font-weight-normal" href="#">Welcome to SpecLocal</a>
        </div>
        <!-- <div class='ml-5'>
            <h4 class='float-right'>{{today | date:'dd-MM-yyyy'}}</h4> 
        </div> -->
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <!-- <form class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form> -->
            <ul class="navbar-nav">
                    <div class='ml-5'>
                        <h4 class='float-right'>{{today | date:'dd-MM-yyyy'}}</h4> 
                    </div>
                    <div class="text-center ml-4">
                        <button mat-raised-button class="ml-auto logoutBtn ml-1 btn "  (click)="openLogoutDialog()">Log Out</button>
                    </div>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#pablo">
                        <i class="material-icons">dashboard</i>
                        <p>
                            <span class="d-lg-none d-md-block">Stats</span>
                        </p>
                    </a>
                </li> -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">notifications</i>
                        <span class="notification">5</span>
                        <p>
                            <span class="d-lg-none d-md-block">Some Actions</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Mike John responded to your email</a>
                        <a class="dropdown-item" href="#">You have 5 new tasks</a>
                        <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                        <a class="dropdown-item" href="#">Another Notification</a>
                        <a class="dropdown-item" href="#">Another One</a>
                    </div>
                </li> -->
                <!-- <li class="nav-item">
                    <button type="button " class="btn btn-secondary btn-circle  ml-5 img " data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">person</i>
                    </button>
            
                    <div class="dropdown-menu dropdown-menu-right mr-4">
                        <h5 class="text-center mt-2 font-weight-normal">Name : Admin</h5>
                        <div class="dropdown-divider"></div>
                        <div class="text-center ml-4">
                            <button class="dropdown-item ml-1" type="button" (click)="openLogoutDialog()">Log Out</button>
                        </div>
                        
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</nav>