<div class="main-content">
  <div class="container-fluid">
    <!--***********************Registration Table**********************-->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <h3 class="card-title ">Enquiry List</h3>
              </div>
              <div class="offset-md-4 col-md-4 offset-sm-4 col-sm-4">
                <mat-form-field class="filter">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="crad-body">
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" matSort class="table">
                <ng-container matColumnDef="sn">
                  <th mat-header-cell *matHeaderCellDef id="TableHeadingw"> # </th>
                  <td mat-cell *matCellDef="let element; let i = index;" id="Tabledataw"> {{i+1}}
                  </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="contacttype">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Contact
                    Type
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.contacttype}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="fullname">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Full
                    Name
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
                </ng-container>
                <!--  Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Email ID
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <!--  Column -->
                <ng-container matColumnDef="contactno">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Mobile
                    No </th>
                  <td mat-cell *matCellDef="let element"> {{element.contactno}} </td>
                </ng-container>
                <!--  Column -->
                <ng-container matColumnDef="businessname">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Business
                    Name
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.businessname}} </td>
                </ng-container>
                <!--  Column -->
                <!-- <ng-container matColumnDef="requirements">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Requirements
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.requirements}} </td>
                </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <div class="paginator">
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>