.submit{
    background: linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
    background-size: 200% auto;

}

.cancel{
    background: -webkit-linear-gradient(90deg, #e94086 0%, #e5925a 100%) !important;
    margin: 5px;
}