<div class="mat-dialog">
  <!-- <div class="row justify-content-end">
                <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>
            </div> -->
  <h4 mat-dialog-title>Change Password</h4>
</div>

<mat-dialog-content>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Old Password</mat-label>
          <input matInput placeholder="Old Password" [type]="hide ? 'password' : 'text'" formControlName="oldPassword">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input matInput placeholder="New Password" [type]="hide ? 'password' : 'text'" formControlName="newPassword">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'"
            formControlName="confirmPassword">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="button">
      <!-- <button type='submit'  mat-raised-button class="" [disabled]='!loginForm.valid'>LogIn</button> -->
      <button type="submit" class="btn ml-2 submit" mat-dialog-close [disabled]="!changePasswordForm.valid"
        mat-button>Submit</button>
      <button type="submit" class="btn  mr-2 cancel" mat-button>Cancel</button>
    </div>

  </form>
</mat-dialog-content>