<div class="text-center">
  <div class="content-container text-center">
    <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>
    <h5 class="content-span full-width font-weight-normal">Are you sure to delete this record?</h5>
  </div>
  <button class="btn  btn-danger m-1"  [mat-dialog-close]="false">NO</button>
  <button class="btn  btn-primary m-1" (click)='deletePlatform()' [mat-dialog-close]="true">YES</button>
</div>