<div class="mat-dialog">
  <h4 mat-dialog-title>Add Service</h4>
</div>
<mat-dialog-content>
  <form [formGroup]="addServiceForm " (ngSubmit)="onSubmitService()">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Business Service Type</mat-label>
          <input type="text" placeholder="Hotels" aria-label="ServiceType" matInput
              formControlName="businessServiceType"
              [matAutocomplete]="autoServiceType" required
              [ngClass]="{ 'is-invalid': submitted && p.businessServiceType.errors }"
              onkeyup="this.value = this.value.toUpperCase()">
          <div *ngIf="submitted && p.businessServiceType.errors"
              class="invalid-feedback">
              <div *ngIf="p.businessServiceType.errors.required">Business Service
                  Type is required</div>
          </div>
          <mat-autocomplete #autoServiceType="matAutocomplete">
              <mat-option *ngFor="let serviceType of filteredServiceTypes | async"
                  [value]="serviceType">
                  {{serviceType}}
              </mat-option>
          </mat-autocomplete>
      </mat-form-field>
      </div>
    </div>
   
    <div class="button text-right">
      <button type="submit" mat-raised-button color="primary" [disabled]="!addServiceForm.valid">Save</button> </div>
  </form>
</mat-dialog-content>
