<div class="mat-dialog">
  <h4 mat-dialog-title>Update User</h4>
</div>
<mat-dialog-content>
  <form [formGroup]="editUserForm " (ngSubmit)="editUser()">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <!-- [(ngModel)]="data.id"  -->
          <input matInput placeholder="John" [(ngModel)]="data.firstname" formControlName="firstname">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Doe" [(ngModel)]="data.lastname" formControlName="lastname">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Email Id</mat-label>
          <input matInput type="text" placeholder="johndoe@gmail.com" [(ngModel)]="data.email" formControlName="email">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Contact No</mat-label>
          <input matInput type="number" placeholder="Contact No" [(ngModel)]="data.contactno"
            formControlName="contactno">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Business Name</mat-label>
          <input matInput placeholder="e.g SpecLocal" [(ngModel)]="data.businessname" formControlName="businessname">
        </mat-form-field>
      </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="password" #ip [type]="hide ? 'password' : 'text'" formControlName="password" type="password">
            <mat-icon style="margin-top: 5%" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>        
        </div>
      </div> -->
    <div class="button text-right">
      <button type="submit" mat-raised-button color="primary" [disabled]="!editUserForm.valid">Save</button> </div>
  </form>
</mat-dialog-content>