<div class="mat-dialog">
  <h4 mat-dialog-title>Add Platform</h4>
</div>
<mat-dialog-content>
  <form [formGroup]="addPlatformForm " (ngSubmit)="onSubmitPlatform()">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Business Service Type</mat-label>

          <input type="text" placeholder="Hotels" aria-label="ServiceType" matInput
            formControlName="businessServiceType" [matAutocomplete]="autoServiceType"
             required
            [ngClass]="{ 'is-invalid': submitted && p.busuinessservicetype.errors }"
            onkeyup="this.value = this.value.toUpperCase()">

          <div *ngIf="submitted && p.busuinessservicetype.errors" class="invalid-feedback">
            <!-- <div *ngIf="p.busuinessservicetype.errors.required">Business Service
              Type is required
            </div> -->
          </div>
          <mat-error *ngIf="addPlatformForm.controls['businessServiceType'].hasError('required')">
              Please enter a value
          </mat-error>
   
          <mat-error *ngIf="addPlatformForm.controls['businessServiceType'].hasError('incorrect')">
              Service type is not available
          </mat-error>
          <mat-autocomplete #autoServiceType="matAutocomplete"  [displayWith]="displayWith">
            <mat-option *ngFor="let serviceType of filteredServiceTypes | async"
              [value]="serviceType.businessServiceType">
              {{serviceType.businessServiceType}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Platform Name</mat-label>
          <input matInput placeholder="facebook" formControlName="platformName"
          onkeyup="this.value = this.value.toUpperCase()">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Platform Link</mat-label>
          <input matInput placeholder="" formControlName="platformLink"
            [ngClass]="{'is-invalid' : submitted &&  p.platformLink.errors}">
          <div *ngIf="submitted && p.platformLink.errors" class="invalid-feedback">
            <div *ngIf="p.platformLink.errors.pattern">
              Link should be valid
            </div>
          </div>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 platformLogo ">
        <div class="text-center p-2 border" *ngIf="image">
          <img [src]="image" height="200px" width="auto" *ngIf="image?true:false" class="border">
        </div>
        <div class="">
            <input type="file" #imageSelect name="file" formControlName="platformLogo" ng2FileSelect
            [uploader]="uploader" [accept]="'.png , .jpg ,.gif'"/>
  
          <button  type="button" class="btn btnCss btn-sm" (click)="uploader.uploadAll()"
            [disabled]="!uploader.getNotUploadedItems().length">
            Upload Image
          </button>
        </div>
      </div>
    </div>
    <div class="button text-right">
      <button type="submit" class="mt-3" mat-raised-button color="primary" [disabled]="!addPlatformForm.valid">Save</button> </div>
  </form>
</mat-dialog-content>