.card-header-info{
    background: navy !important;
}
.btnCss{
    background: navy !important;
}
.platformLogo{
    display: inline;
    position: relative;
}
.matInput{
    text-transform: uppercase !important
}

// form {
//     position: relative;
//   }
  
//   input {
//     width: 100%;
//     padding-right: 40px;
//   }
  
//   button {
//     width: 40px;
//     position: absolute;
//     top: 0;
//     right: 0;
//   }
