.login{
  background-image: url('../../assets/img/business1.jpg');
   background-size: 100%;
    background-position: 15% 45%; 
    height: 100vh;
    position: relative;
}


#card{
    width:100%;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(35%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.example-container {
    display: flex;
    flex-direction: column;
 
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 12px;
  }

  ::ng-deep .mat-form-field.mat-form-field {
    width: 100% !important;

  }
  
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
  } 
  
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: black !important;;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: blue !important; /* blue background for example */
}
button{
    background: linear-gradient(to right, #00aee0 0%, #00fedc 51%, #00aee0 100%);
    background-size: 300% auto;

}
.btn-lg{
  position: relative;
  width: 80%
}

// .card {
//     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
//     top:40%;
//     transform: translateY(-10%);
//     position: relative;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     border: white solid 1px !important;
//   }

// *{
//     box-sizing: border-box;
// }

// input{
//     width: 90%;

//     padding: 1px;
//     height: 40px;
//     background:white;
//      border: none;
    
// }
// input::placeholder{
//     padding: 2px;
// }
// .info{
//     padding: 10px;
// }
// button{
//     border: none;
//     color:white;
//     width: 40%;
//     padding: 5px;
//     margin-left: auto;
//     margin-right: auto;
//     background-color: dodgerblue;
// }
// a{
//     cursor: pointer;
//     text-decoration: none !important;
// }
// a:hover{
//     color: red !important;
//     text-decoration: none;
// }
