<div class="login">
  <div class="container">
    <div class="row  flex-xs-middle">

      <div class="col-md-6 my-auto mx-auto align-self-center">
        <div id="card" class="example-container card card-block ">
          <mat-card>
            <form [formGroup]="loginForm" class="example-container " (ngSubmit)="onSubmit()">
              <mat-card-title class="text-center">
                <div class=" text-center logo">
                  <img src="../../assets/img/SpecLocalLogo.png" alt="" srcset="" width="180px">
                </div>
                <!-- <h2 class="font-weight-normal">Login</h2> -->
              </mat-card-title>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="email" formControlName="email"
                      [ngClass]="{ 'is-invalid' : submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Username is required</div>
                    </div>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-label> Password</mat-label>
                    <input matInput placeholder="password" [type]="hide ? 'password' : 'text'"
                      formControlName="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                  </mat-form-field>
                </div>
              </div>

              <div class="button text-center loginBtn">
                <!-- <button type='submit'  mat-raised-button class="" [disabled]='!loginForm.valid'>LogIn</button> -->
                <button type="submit" class="btn primary-btn btn-lg " [disabled]='!loginForm.valid'
                  mat-button>LOGIN</button>
                <!-- <button type="button" class="btn primary-btn btn-lg " (onclick) ='registration()' mat-button>REGISTER</button> -->
              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>