<div class="mat-dialog">
  <h4 mat-dialog-title>New User</h4>
</div>
<mat-dialog-content>
  <!-- <form [formGroup]="registrationForm " (ngSubmit)="registerUser()">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal Information
          </mat-panel-title>
          <mat-panel-description>
           
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput placeholder="John" formControlName="firstname">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Doe" formControlName="lastname">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>DOB</mat-label>
              <input matInput placeholder="6/20/2019" [matDatepicker]="picker" (focus)="picker.open()" readonly formControlName="dob">
            </mat-form-field>
            <mat-datepicker #picker></mat-datepicker>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender">
                <mat-option *ngFor="let gender of gender" [value]="gender.value" >
                  {{gender.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Buiseness Details
          </mat-panel-title>
          <mat-panel-description>

            
          </mat-panel-description>
        </mat-expansion-panel-header>

        
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Business Name</mat-label>
              <input matInput placeholder="SpecLocal" formControlName="businessname">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Business Address</mat-label>
              <input matInput placeholder="karve nagar , pune" formControlName="businessaddress">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-label>Facebook page url of your business</mat-label>
              <input matInput placeholder="" formControlName="fbpageurl">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-label>Google page url of your business</mat-label>
              <input matInput placeholder="" formControlName="googlepageurl" >
            </mat-form-field>
          </div>
        </div>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contact Information
          </mat-panel-title>
          <mat-panel-description>

           
          </mat-panel-description>
        </mat-expansion-panel-header>

        here contact Info
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Contact No</mat-label>
              <input matInput placeholder="9656897845" formControlName="contactno">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput placeholder="Doe@gmail.com" [(ngModel)]="value" formControlName="">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <mat-label>Address</mat-label>
              <input matInput placeholder="Street" type="text" formControlName="street">
            </mat-form-field>
          </div>
        </div>
        <div class='row'>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>State</mat-label>
              <mat-select (selectionChange)="onChange($event)" formControlName="state">
                <mat-option *ngFor="let state of stateInfo; let i = index" [value]='state.state'>
                  {{state.state}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>District</mat-label>
              <mat-select formControlName="district">
                <mat-option *ngIf="districtInfo == ''" value="-1">
                  ---Select district---
                </mat-option>
                <mat-option *ngFor="let district of districtInfo; let j = index" [value]='district'>
                  {{district}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>City</mat-label>
              <input matInput placeholder="City" type="text" formControlName="city">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>Zip-Code</mat-label>
              <input matInput placeholder="Pin-Code" formControlName="pin">
            </mat-form-field>
          </div>
        </div>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Athentication
            </mat-panel-title>
            <mat-panel-description>
  
              
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-md-12">
              <p>Username : {{value}} </p>
             
            </div>
            <div class="col-md-12">
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder="Doe" formControlName="password">
              </mat-form-field>
            </div>
          </div>         
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Add Platforms
          </mat-panel-title>
          <mat-panel-description>

            
          </mat-panel-description>
        </mat-expansion-panel-header>

        here Add Platforms
        <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-label>Business Service Type</mat-label>
                <input matInput placeholder="Hotels" formControlName="busuinessservicetype">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <mat-label>Add Platform</mat-label>
                <input matInput placeholder="facebook" formControlName="addplatfroms">
              </mat-form-field>
            </div>
          </div>
         

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
      </mat-expansion-panel>
   </mat-accordion>
  </form> -->

  <form [formGroup]="registrationForm " (ngSubmit)="registerUser()">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput placeholder="John" formControlName="firstname">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Doe" formControlName="lastname">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Email Id</mat-label>
          <input matInput type="text" placeholder="johndoe@gmail.com" formControlName="email">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Contact No</mat-label>
          <input matInput type="number" placeholder="Contact No" formControlName="contactno">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Business Name</mat-label>
          <input matInput placeholder="e.g SpecLocal" formControlName="businessname">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput placeholder="password" #ip [type]="hide ? 'password' : 'text'" formControlName="password" type="password">
          <mat-icon style="margin-top: 5%" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>        
      </div>
    </div>
    <div class="button text-right">
      <button type="submit" mat-raised-button color="primary"  [disabled]="!registrationForm.valid">Submit</button> </div>
  </form>
</mat-dialog-content>