.table .material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
.paginator{
    margin-left: 5px;
    margin-right: 5px;
}
.mat-form-field{
    font-size: 14px;
    width: 100%;
    float: right;
    margin-right: 10px;
    /* color: white !important; */
}
.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px !important;
    color: #333333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 20px;
    width: 20px;
}
.table mat-icon{
    margin-right: 4%;
}
.table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.table th{
    font-size: 0.95rem;
    font-weight: 500;
    border-top-width: 0;
    border-bottom-width: 1px;
}
.card .card-body {
    padding: 0.9375rem 20px;
    position: relative;
}
.text-primary {
    color:#9c27b0 !important;
}
.formField input{
    color: white;
}
input ::placeholder{
    color: white;
}

.ionic{
margin: 8px;
padding: 3px
}
.mongo{
    margin: 5px;
    padding: 2px
    }

    .cardheader{
        color: aqua;
    }
 
    .card-header-info{
        background: navy !important;
    }

.filter ::ng-deep .mat-focused .mat-form-field-label  {
    
    color: white !important;
   }
.filter::ng-deep .mat-form-field-label{
    color:white !important;
}

.filter::ng-deep.mat-form-field-underline {
    
    background-color: white !important;
  } 
  
  
.filter::ng-deep.mat-form-field-ripple {
  
   background-color: white !important;;
  }

  .filter{
      color: white !important
  }

  .filter input::placeholder {
    color: white !important;
  }
