<div class="mat-dialog">
  <h4 mat-dialog-title>Update Platform</h4>
</div>
<mat-dialog-content>
  <form [formGroup]="editPlatformForm " (ngSubmit)="onUpdatePlatform()">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Business Service Type</mat-label>

          <input type="text" placeholder="Hotels" aria-label="ServiceType" matInput
            formControlName="businessServiceType" [matAutocomplete]="autoServiceType" required
            
            [(ngModel)]="data.businessServiceType"
            onkeyup="this.value = this.value.toUpperCase()">
          <!-- <div *ngIf="submitted && .busuinessservicetype.errors" class="invalid-feedback">
            <div *ngIf="p.busuinessservicetype.errors.required">Business Service
              Type is required
            </div>
          </div> -->
          <mat-error *ngIf="editPlatformForm.controls['businessServiceType'].hasError('required')">
              Please enter a value
          </mat-error>
   
          <mat-error *ngIf="editPlatformForm.controls['businessServiceType'].hasError('incorrect')">
              Service type is not available
          </mat-error>
          <mat-autocomplete #autoServiceType="matAutocomplete" [displayWith]="displayWith">
            <mat-option *ngFor="let serviceType of filteredServiceTypes | async"
              [value]="serviceType.businessServiceType">
              {{serviceType.businessServiceType}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Platform Name</mat-label>
          <input matInput placeholder="facebook" onkeyup="this.value = this.value.toUpperCase()"  formControlName="platformName" [(ngModel)]="data.platformName">
        </mat-form-field>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>PlatForm Logo</mat-label>
          <input matInput type="text" placeholder=""  formControlName="platformLogo" [(ngModel)]="data.platformLogo">
        </mat-form-field>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Platform Link</mat-label>
          <input matInput  placeholder="" 
            formControlName="platformLink" [(ngModel)]="data.platformLink">
        </mat-form-field>
      </div>
    </div>
  
    <div class="button text-right">
      <button type="submit" class="m-3" mat-raised-button color="primary" [disabled]="!editPlatformForm.valid">Update</button> </div>
  </form>
</mat-dialog-content>
