<div class="main-content">
  <div class="container-fluid">
    <div class=" offset-md-9 col-md-3  ml-auto justify-content-end d-flex flex-row-reverse">
      <button mat-raised-button matTooltip="add new Platform" class="ml-auto btn btn-lg card-header-info"
        (click)="openAddPlatformModal()">
        Add Platform
      </button>
    </div>
    <!--***********************Platforms Table**********************-->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <h3 class="card-title ">List Of Platforms</h3>
              </div>
              <div class="offset-md-4 col-md-4 offset-sm-4 col-sm-4">
                <mat-form-field class="filter">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
            </div>

          </div>

          <div class="crad-body">
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" matSort class="table">
                <ng-container matColumnDef="sn">
                  <th mat-header-cell *matHeaderCellDef id="TableHeadingw"> # </th>
                  <td mat-cell *matCellDef="let element; let i = index;" id="Tabledataw"> {{i+1}}
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="businessservicetype">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">
                    Business Service Type
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.businessServiceType}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="platformname">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">
                    Platform Name
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.platformName}} </td>
                </ng-container>

                <!--  Column -->
                <!-- <ng-container matColumnDef="platformlogo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Platform Logo
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.platformLogo}} </td>
                </ng-container>

                <ng-container matColumnDef="platformlink">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">
                    Platform Link
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.platformLink}} </td>
                </ng-container> -->

                
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef class="text-primary"> Action </th>
                  <td mat-cell *matCellDef="let element">
                    <a class="ml-1" matTooltip="Update Platform Details" (click)="openEditPlatformDialog(element)"><i
                        class="fas fa-edit"></i></a>
                    <a class="ml-1" matTooltip="Delete Platform "
                      (click)="openDeleteDialog(element.platformName)"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <div class="paginator">
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>