<div class="logo">
    <a href="https://speclocal.com/" class="simple-text">
        <div class="">
            <img src="../../../assets/img/SpecLocalLogo.png" width="60%" height="60%">
        </div>
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()" class="row justify-content-end mt-3">       
        <ul class="nav navbar-nav nav-mobile-menu ">  
                <!-- <div class='ml-5'>
                        <h4 class='float-right'>{{today | date:'dd-MM-yyyy'}}</h4> 
                    </div> -->
                    <div class="text-center ml-4">
                        <button mat-raised-button class="ml-auto logoutBtn ml-1 btn "  (click)="openLogoutDialog()">Log Out</button>
                    </div>         
            <!-- <li class="nav-item">
                <button type="button " class="btn btn-secondary btn-circle  ml-5 img " data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">person</i>
                </button>
                <div class="dropdown-menu dropdown-menu-right mr-4">
                    <h5 class="text-center mt-2 font-weight-normal">Name : Admin</h5>
                    <div class="dropdown-divider"></div>
                    <h6 class="small text-lowercase text-center">username : admin</h6>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" (click)="openChangePasswordDialog()" type="button">Change
                        Password</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item ml-1" type="button" (click)="openLogoutDialog()">Log Out</button>
                </div>
            </li> -->
        </ul>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <!-- <p>{{menuItem.title}} <><>{{menuItem.requestCount}}</p> -->
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>