<div class="main-content">
    <div class="container-fluid">
        <div class="row flex-row-reverse d-flex">
            <div class="col-md-6 col-sm-12 ml-auto text-right">
                <button matTooltip="get csv file here" class="ml-auto mr-1 btn btnCss" (click)="downloadCSV()"
                    *ngIf="showTable">Export As CSV
                </button>
                <button matTooltip="wanna export as XLF" (click)="exportToExcel()" class="mr-1 btn  btnCss"
                    *ngIf="showTable">Export As Excel
                </button>
                <button matTooltip="add new User" (click)="showRegistrationForm()" class="btn  btnCss"
                    *ngIf="showTable">Add
                    User</button>
            </div>
        </div>
        <div class="row flex-row-reverse d-flex">
            <div class="col-md-6 col-sm-12 ml-auto text-right">

                <button matTooltip="wanna print" (click)="printDiv('viewUserInfo')" class=" ml-auto mr-1 btn btnCss"
                    *ngIf="showOneUser">Print
                </button>
                <button matTooltip=" get pdf file" (click)="generatePdf()" class="mr-1 btn btnCss"
                    *ngIf="showOneUser">Export
                    As pdf
                </button>
                <button matTooltip="go to dashboard" (click)="hideRegistrationForm()" class="btn btnCss"
                    *ngIf="!showTable">
                    Back
                </button>
            </div>
        </div>
        <!--*********************** Start Registration Form**********************-->
        <div class="row registrationform" *ngIf="showForm">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="card-title">New Registration Form</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ml-1">
                        <form [formGroup]="registrationForm " (ngSubmit)="registerUser()" class="p-2">
                            <div class="personalDetails">
                                <h4 class=" font-weight-normal text-uppercase mt-2 mb-2">Personal Details</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">First Name</mat-label>
                                            <input matInput placeholder="John" formControlName="firstname" required
                                                [ngClass]="{ 'is-invalid': submitted && r.firstname.errors }"
                                                onkeyup="this.value = this.value.toUpperCase()">
                                            <div *ngIf="submitted && r.firstname.errors" class="invalid-feedback">
                                                <div *ngIf="r.firstname.errors.required">First Name is required</div>
                                                <div *ngIf="r.firstname.errors.minLength">Must be only characters</div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Last Name</mat-label>
                                            <input matInput placeholder="Doe" formControlName="lastname" required
                                                [ngClass]="{ 'is-invalid': submitted && r.lastname.errors }"
                                                onkeyup="this.value = this.value.toUpperCase()">
                                            <div *ngIf="submitted && r.lastname.errors" class="invalid-feedback">
                                                <div *ngIf="r.lastname.errors.required">Last Name is required</div>
                                                <div *ngIf="r.firstname.errors.pattern">Must be only characters</div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">DOB</mat-label>
                                            <input matInput placeholder="6/20/2019" [matDatepicker]="picker"
                                                (focus)="picker.open()" readonly formControlName="dob">
                                        </mat-form-field>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Gender</mat-label>
                                            <mat-select formControlName="gender">
                                                <mat-option *ngFor="let gender of gender" [value]="gender.value">
                                                    {{gender.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="businessDetails">
                                <h4 class=" font-weight-normal text-uppercase mt-2 mb-2">Buiseness Details</h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Business Name</mat-label>
                                            <input matInput placeholder="SpecLocal" formControlName="businessname"
                                                [ngClass]="{ 'is-invalid': submitted && r.businessname.errors }"
                                                onkeyup="this.value = this.value.toUpperCase()">

                                            <div *ngIf="submitted && r.businessname.errors" class="invalid-feedback">
                                                <div *ngIf="r.businessname.errors.required">Last Name is required</div>
                                                <div *ngIf="r.businessname.errors.minLength">Must be only characters
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">No Of Employees</mat-label>
                                            <input matInput placeholder="SpecLocal" value="1"
                                                formControlName="noOfEmployees">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Business Service Type</mat-label>
                                            <input type="text" placeholder="Hotels" aria-label="ServiceType" matInput
                                                formControlName="busuinessservicetype"
                                                [matAutocomplete]="autoServiceType" required
                                                [ngClass]="{ 'is-invalid': submitted && r.busuinessservicetype.errors }"
                                                onkeyup="this.value = this.value.toUpperCase()">

                                            <div *ngIf="submitted && r.busuinessservicetype.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="r.busuinessservicetype.errors.required">Business Service
                                                    Type is required
                                                </div>
                                            </div>
                                            <mat-error
                                                *ngIf="registrationForm.controls['busuinessservicetype'].hasError('required')">
                                                Please enter a value
                                            </mat-error>

                                            <mat-error
                                                *ngIf="registrationForm.controls['busuinessservicetype'].hasError('incorrect')">
                                                Service type is not available
                                            </mat-error>
                                            <mat-autocomplete #autoServiceType="matAutocomplete"
                                                [displayWith]="displayWith">
                                                <mat-option *ngFor="let serviceType of filteredServiceTypes | async"
                                                    [value]="serviceType.businessServiceType">
                                                    {{serviceType.businessServiceType}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Business Address</mat-label>
                                            <input matInput placeholder="karve nagar , pune"
                                                formControlName="businessaddress"
                                                onkeyup="this.value = this.value.toUpperCase()">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Facebook URL</mat-label>
                                            <input matInput placeholder="" formControlName="fbpageurl">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Google URL</mat-label>
                                            <input matInput placeholder="" formControlName="googlepageurl">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="contactDetails">
                                <h4 class=" font-weight-normal text-uppercase mt-2 mb-2">Contact Details</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Contact No</mat-label>
                                            <input matInput placeholder="9656897845" formControlName="contactno"
                                                required [ngClass]="{ 'is-invalid': submitted && r.contactno.errors }">
                                            <div *ngIf="submitted && r.contactno.errors" class="invalid-feedback">
                                                <div *ngIf="r.contactno.errors.required">
                                                    Contact Number is required
                                                </div>
                                                <div *ngIf="r.contactno.errors.pattern">
                                                    Contact Number must be a valid number
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Email</mat-label>
                                            <input matInput placeholder="Doe@gmail.com" [(ngModel)]="emailValue"
                                                formControlName="email" required
                                                [ngClass]="{ 'is-invalid': submitted && r.email.errors }">
                                            <div *ngIf="submitted && r.email.errors" class="invalid-feedback">
                                                <div *ngIf="r.email.errors.required">gmail is required</div>
                                                <div *ngIf="r.email.errors.email">Email must be a valid email address
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- <mat-form-field class="example-full-width">
                                            <mat-label class="text-uppercase">Address</mat-label>
                                            <input matInput placeholder="Street" type="text" >
                                        </mat-form-field> -->
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Address</mat-label>
                                            <textarea matInput placeholder="Address" formControlName="address"
                                                onkeyup="this.value = this.value.toUpperCase()"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="authentication">
                                <h4 class=" font-weight-normal text-uppercase mt-2 mb-2">Authentication</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Username</mat-label>
                                            <input matInput disabled value="{{emailValue}}">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Password</mat-label>
                                            <input matInput placeholder="password" [type]="hide ? 'password' : 'text'"
                                                formControlName="password"
                                                [ngClass]="{ 'is-invalid': submitted && r.password.errors }">
                                            <div *ngIf="submitted && r.password.errors" class="invalid-feedback">
                                                <div *ngIf="r.password.errors.required">gmail is required</div>
                                                <div *ngIf="r.password.errors.minLength">Email must be a valid email
                                                    address
                                                </div>
                                            </div>
                                            <mat-icon matSuffix (click)="hide = !hide">
                                                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="addplatform">
                                <h4 class="font-weight-normal text-uppercase mt-2 mb-2">Select Platform</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="example-chip-list">
                                            <mat-label class="text-uppercase">Platforms</mat-label>
                                            <mat-chip-list #chipPlatformList>
                                                <!-- <mat-chip *ngFor="let platform of platforms" [selectable]="selectable"
                                                    [removable]="removable" (removed)="remove(platform)">
                                                    {{platform}}
                                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                </mat-chip> -->

                                                <input placeholder="New platform..." #platformInput
                                                    formControlName="platformname" [matAutocomplete]="autoplatforms"
                                                    [matChipInputFor]="chipPlatformList"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    [matChipInputAddOnBlur]="addOnBlur"
                                                    (matChipInputTokenEnd)="add($event)">
                                            </mat-chip-list>

                                            <mat-error
                                                *ngIf="registrationForm.controls['platformname'].hasError('incorrect')">
                                                Service type is not available
                                            </mat-error>
                                            <mat-autocomplete #autoplatforms="matAutocomplete"
                                                [displayWith]="displayWith" (optionSelected)="selected($event)">
                                                <mat-option *ngFor="let platform of filteredplatforms | async"
                                                    [value]="platform.platformName">
                                                    {{platform.platformName}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                        <div class="chips">
                                            <mat-chip *ngFor="let platform of platforms" [selectable]="selectable"
                                                [removable]="removable" (removed)="remove(platform)" class="m-1"
                                                color="primary" selected>
                                                {{platform}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="smsservice">
                                <h4 class="font-weight-normal text-uppercase mt-2 mb-2">SMS Service</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label class="text-uppercase">SMS Sender ID</mat-label>
                                            <input type="text" placeholder="" aria-label="" matInput
                                                formControlName="smsserviceid"
                                                [ngClass]="{ 'is-invalid': submitted && r.smsserviceid.errors }">
                                            <div *ngIf="submitted && r.smsserviceid.errors" class="invalid-feedback">
                                                <div *ngIf="r.smsserviceid.errors.required">SMS Sender ID is required
                                                </div>
                                                <div *ngIf="r.smsserviceid.errors.minLength">minLength must be 6
                                                    address
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Message Credit</mat-label>
                                            <input matInput placeholder="SpecLocal" value="100"
                                                formControlName="msgcredit">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-checkbox formControlName="birthday" [(ngModel)]="birthday">
                                            <span class="font-weight-normal text-uppercase checkBoxCss">Birthday</span>
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-checkbox formControlName="anniversary" [(ngModel)]="anniversary">
                                            <span
                                                class="font-weight-normal text-uppercase checkBoxCss">Anniversary</span>
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-checkbox formControlName="smscampaining" [(ngModel)]="smscampaining">
                                            <span class="font-weight-normal text-uppercase checkBoxCss">SMS
                                                Campaining</span>
                                        </mat-checkbox>
                                    </div>

                                </div>
                            </div>
                            <div class="button text-right mt-4">
                                <button type="submit" class="text-uppercase " mat-raised-button color="primary"
                                    [disabled]="!registrationForm.valid">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--***********************End Registration Form**********************-->
        <!--***********************Start Registration Table**********************-->
        <div class="row" *ngIf="showTable">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <h3 class="card-title ">List Of Users</h3>
                            </div>
                            <div class="offset-md-4 col-md-4 offset-sm-4 col-sm-4">
                                <mat-form-field class="filter">
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="crad-body">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource" matSort class="table">
                                <ng-container matColumnDef="sn">
                                    <th mat-header-cell *matHeaderCellDef id="TableHeadingw"> # </th>
                                    <td mat-cell *matCellDef="let element; let i = index;" id="Tabledataw"> {{i+1}}
                                    </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="firstname">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> First
                                        Name
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                                </ng-container>
                                <!-- Name Column -->
                                <ng-container matColumnDef="lastname">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Last
                                        Name
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                                </ng-container>

                                <!--  Column -->
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Email ID
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                </ng-container>

                                <ng-container matColumnDef="messagecredit">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Messages
                                        Credit
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.msgcredit}} </td>
                                </ng-container>

                                <!--  Column -->
                                <ng-container matColumnDef="contactno">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Mobile
                                        No </th>
                                    <td mat-cell *matCellDef="let element"> {{element.contactno}} </td>
                                </ng-container>


                                <!--  Column -->
                                <ng-container matColumnDef="businessname">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Business
                                        Name
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.businessname}} </td>
                                </ng-container>
                                <!--  Column -->

                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef class="text-primary"> Action </th>
                                    <td mat-cell *matCellDef="let element">
                                        <a matTooltip="Update User Details" (click)='showUser(element.email)'
                                            class="mr-1">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a matTooltip="Update User Details" (click)='showUpdateUser(element.email)'
                                            class="mr-1">
                                            <i class="fas fa-edit"></i>
                                        </a>

                                        <mat-slide-toggle matTooltip="User Status" color="primary"
                                            (change)="onChange($event,element.email)"
                                            (click)="openSnackBar('Status changed')" [checked]="element.status">
                                        </mat-slide-toggle>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <div class="paginator">
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--***********************End Registration Table**********************-->
        <!--***********************Start Registration update Form**********************-->
        <div class="row registrationform" *ngIf="showUpdateForm">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="card-title "> Update User </h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ml-1">
                        <form [formGroup]="registrationForm " (ngSubmit)="updateRegisteredUsers()" class="p-2">
                            <div class="personalDetails">
                                <h4 class=" font-weight-normal text-uppercase mt-2 mb-2">Personal Details</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">First Name</mat-label>
                                            <input matInput placeholder="John" formControlName="firstname" required
                                                [ngClass]="{ 'is-invalid': submitted && r.firstname.errors }"
                                                [(ngModel)]="updateUser && updateUser.firstname"
                                                onkeyup="this.value = this.value.toUpperCase()">
                                            <div *ngIf="submitted && r.firstname.errors" class="invalid-feedback">
                                                <div *ngIf="r.firstname.errors.required">First Name is required</div>
                                                <div *ngIf="r.firstname.errors.minLength">Must be only characters</div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Last Name</mat-label>
                                            <input matInput placeholder="Doe" formControlName="lastname" required
                                                [ngClass]="{ 'is-invalid': submitted && r.lastname.errors }"
                                                [(ngModel)]="updateUser && updateUser.lastname"
                                                onkeyup="this.value = this.value.toUpperCase()">
                                            <div *ngIf="submitted && r.lastname.errors" class="invalid-feedback">
                                                <div *ngIf="r.lastname.errors.required">Last Name is required</div>
                                                <div *ngIf="r.firstname.errors.pattern">Must be only characters</div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">DOB</mat-label>
                                            <input matInput placeholder="6/20/2019" [matDatepicker]="picker"
                                                (focus)="picker.open()" readonly formControlName="dob"
                                                [(ngModel)]="updateUser && updateUser.dob">
                                        </mat-form-field>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Gender</mat-label>
                                            <mat-select formControlName="gender"
                                                [(ngModel)]="updateUser && updateUser.gender">
                                                <mat-option *ngFor="let gender of gender" [value]="gender.value">
                                                    {{gender.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="businessDetails">
                                <h4 class=" font-weight-normal text-uppercase mt-2 mb-2">Buiseness Details</h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Business Name</mat-label>
                                            <input matInput placeholder="SpecLocal" formControlName="businessname"
                                                [ngClass]="{ 'is-invalid': submitted && r.businessname.errors }"
                                                [(ngModel)]="updateUser && updateUser.businessname"
                                                onkeyup="this.value = this.value.toUpperCase()">

                                            <div *ngIf="submitted && r.businessname.errors" class="invalid-feedback">
                                                <div *ngIf="r.businessname.errors.required">Last Name is required</div>
                                                <div *ngIf="r.businessname.errors.minLength">Must be only characters
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">No. Of Employees</mat-label>
                                            <input matInput placeholder="SpecLocal" formControlName="noOfEmployees"
                                                [(ngModel)]="updateUser && updateUser.noOfEmployees">


                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Business Service Type</mat-label>
                                            <input type="text" placeholder="Hotels" aria-label="ServiceType" matInput
                                                formControlName="busuinessservicetype"
                                                [matAutocomplete]="autoServiceType" required
                                                [ngClass]="{ 'is-invalid': submitted && r.busuinessservicetype.errors }"
                                                [(ngModel)]="updateUser && updateUser.busuinessservicetype"
                                                onkeyup="this.value = this.value.toUpperCase()">

                                            <div *ngIf="submitted && r.busuinessservicetype.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="r.busuinessservicetype.errors.required">Business Service
                                                    Type is required
                                                </div>
                                            </div>
                                            <mat-error
                                                *ngIf="registrationForm.controls['busuinessservicetype'].hasError('required')">
                                                Please enter a value
                                            </mat-error>

                                            <mat-error
                                                *ngIf="registrationForm.controls['busuinessservicetype'].hasError('incorrect')">
                                                Service type is not available
                                            </mat-error>
                                            <mat-autocomplete #autoServiceType="matAutocomplete" [displayWith]="displayWith">
                                                <mat-option *ngFor="let serviceType of filteredServiceTypes | async"
                                                    [value]="serviceType.businessServiceType">
                                                    {{serviceType.businessServiceType}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Business Address</mat-label>
                                            <input matInput placeholder="karve nagar , pune"
                                                formControlName="businessaddress"
                                                [(ngModel)]="updateUser && updateUser.businessaddress"
                                                onkeyup="this.value = this.value.toUpperCase()">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Facebook URL</mat-label>
                                            <input matInput placeholder="Enter your facebook page URL"
                                                formControlName="fbpageurl"
                                                [(ngModel)]="updateUser && updateUser.fbpageurl">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Google URL</mat-label>
                                            <input matInput placeholder="Enter your google page URL"
                                                formControlName="googlepageurl"
                                                [(ngModel)]="updateUser && updateUser.googlepageurl">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="contactDetails">
                                <h4 class=" font-weight-normal text-uppercase mt-2 mb-2">Contact Details</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Contact No</mat-label>
                                            <input matInput placeholder="9656897845" formControlName="contactno"
                                                required [ngClass]="{ 'is-invalid': submitted && r.contactno.errors }"
                                                [(ngModel)]="updateUser && updateUser.contactno">

                                            <div *ngIf="submitted && r.contactno.errors" class="invalid-feedback">
                                                <div *ngIf="r.contactno.errors.required">
                                                    Contact Number is required
                                                </div>
                                                <div *ngIf="r.contactno.errors.pattern">
                                                    Contact Number must be a valid number
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Email</mat-label>
                                            <input matInput placeholder="Doe@gmail.com"
                                                [(ngModel)]="updateUser && updateUser.email" formControlName="email"
                                                required [ngClass]="{ 'is-invalid': submitted && r.email.errors }">
                                            <div *ngIf="submitted && r.email.errors" class="invalid-feedback">
                                                <div *ngIf="r.email.errors.required">gmail is required</div>
                                                <div *ngIf="r.email.errors.email">Email must be a valid email address
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Address</mat-label>
                                            <input matInput placeholder="Address" formControlName="address"
                                                [(ngModel)]="updateUser && updateUser.address"
                                                onkeyup="this.value = this.value.toUpperCase()">

                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="authentication">
                                <h4 class=" font-weight-normal text-uppercase mt-2 mb-2">Authentication</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Username</mat-label>
                                            <input matInput disabled value="{{updateUser && updateUser.email}}">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Password</mat-label>
                                            <input matInput placeholder="password" [type]="hide ? 'password' : 'text'"
                                                formControlName="password"
                                                [(ngModel)]="updateUser && updateUser.password"
                                                [ngClass]="{ 'is-invalid': submitted && r.password.errors }">
                                            <div *ngIf="submitted && r.password.errors" class="invalid-feedback">
                                                <div *ngIf="r.password.errors.required">gmail is required</div>
                                                <div *ngIf="r.password.errors.minLength">Email must be a valid email
                                                    address
                                                </div>
                                            </div>
                                            <mat-icon matSuffix (click)="hide = !hide">
                                                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="addplatform">
                                <h4 class="font-weight-normal text-uppercase mt-2 mb-2">Select Platform</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Platforms</mat-label>
                                            <input matInput formControlName="platformname"
                                                [(ngModel)]="updateUser && updateUser.platformname">
                                        </mat-form-field>
                                        <!-- <mat-form-field class="example-chip-list">
                                            <mat-chip-list #chipPlatformList>
                                               
                                                <input placeholder="New platform..." #platformInput
                                                    formControlName="platformname" [matAutocomplete]="autoplatforms"
                                                    [matChipInputFor]="chipPlatformList"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    [matChipInputAddOnBlur]="addOnBlur"
                                                    (matChipInputTokenEnd)="add($event)"
                                                    >
                                            </mat-chip-list>
                                            <mat-autocomplete #autoplatforms="matAutocomplete"
                                                (optionSelected)="selected($event)">
                                                <mat-option *ngFor="let platform of filteredplatforms | async"
                                                    [value]="platform.platformName">
                                                    {{platform.platformName}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                        <div class="chips">
                                            <mat-chip *ngFor="let platform of platforms" [selectable]="selectable"
                                                [removable]="removable" (removed)="remove(platform)" class="m-1"
                                                color="primary" selected>
                                                {{platform}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="smsservice">
                                <h4 class="font-weight-normal text-uppercase mt-2 mb-2">SMS Service</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label class="text-uppercase">SMS Sender ID</mat-label>
                                            <input type="text" placeholder="" aria-label="" matInput
                                                formControlName="smsserviceid"
                                                [(ngModel)]="updateUser && updateUser.smsserviceid"
                                                [ngClass]="{ 'is-invalid': submitted && r.smsserviceid.errors }">
                                            <div *ngIf="submitted && r.smsserviceid.errors" class="invalid-feedback">
                                                <div *ngIf="r.smsserviceid.errors.required">SMS Sender ID is required
                                                </div>
                                                <div *ngIf="r.smsserviceid.errors.minLength">minLength must be 6
                                                    address
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <mat-label class="text-uppercase">Message Credit</mat-label>
                                            <input matInput placeholder="SpecLocal" value="10"
                                                formControlName="msgcredit"
                                                [(ngModel)]="updateUser && updateUser.msgcredit">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-checkbox formControlName="birthday"
                                            [(ngModel)]="updateUser && updateUser.birthday">
                                            <span class="font-weight-normal checkBoxCss text-uppercase">Birthday</span>
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-checkbox formControlName="anniversary"
                                            [(ngModel)]="updateUser && updateUser.anniversary">
                                            <span
                                                class="font-weight-normal text-uppercase checkBoxCss">Anniversary</span>
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-checkbox formControlName="smscampaining"
                                            [(ngModel)]="updateUser && updateUser.smscampaining">
                                            <span class="font-weight-normal text-uppercase checkBoxCss">SMS
                                                Campaining</span>
                                        </mat-checkbox>
                                    </div>

                                </div>
                            </div>
                            <div class="button text-right mt-4">
                                <button type="submit" class="text-uppercase" mat-raised-button color="primary"
                                    [disabled]="!registrationForm.valid">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--*********************** End Registration update Form**********************-->
        <!--*********************** Start View User**********************-->
        <div class="row text-wrap" id="viewUserInfo" *ngIf="showOneUser">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="card-title text-uppercase"> User- {{updateUser && updateUser.firstname}}
                                    {{updateUser && updateUser.lastname}} </h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ml-3">
                        <div class="personalDetails">
                            <h4 class=" font-weight-normal text-uppercase mt-2 mb-2">Personal Details</h4>
                            <div class="row ml-2">
                                <div class="col-md-6">
                                    <mat-label class="font-weight-normal">First Name :
                                        <label>{{updateUser && updateUser.firstname}}</label></mat-label>
                                </div>
                                <div class="col-md-6">
                                    <mat-label class="font-weight-normal">Last Name :
                                        <label>{{updateUser && updateUser.lastname}}</label></mat-label>
                                </div>
                            </div>
                            <div class="row ml-2">
                                <div class="col-md-6">
                                    <mat-label class="font-weight-normal">DOB :
                                        <label>{{updateUser && updateUser.dob}}</label></mat-label>
                                </div>
                                <div class="col-md-6">
                                    <mat-label class="font-weight-normal">Gender :
                                        <label>{{updateUser && updateUser.gender}}</label></mat-label>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="businessDetails">
                            <h4 class=" font-weight-normal text-uppercase mt-2 mb-2">Buiseness Details</h4>
                            <div class="row ml-2 ">
                                <div class="col-md-4">
                                    <mat-label class="font-weight-normal">Business Name :
                                        <label>{{updateUser && updateUser.businessname}} </label></mat-label>
                                </div>
                                <div class="col-md-4">
                                    <mat-label class="font-weight-normal">No Of Employees :
                                        <label>{{updateUser && updateUser.noOfEmployees}}</label></mat-label>
                                </div>


                                <div class="col-md-4">
                                    <mat-label class="font-weight-normal">Business Service Type :
                                        <label>{{updateUser && updateUser.busuinessservicetype}}</label></mat-label>
                                </div>
                            </div>
                            <div class="row ml-2">
                                <div class="col-md-12">
                                    <mat-label class="font-weight-normal">Business Address :
                                        <label>{{updateUser && updateUser.businessaddress}}</label></mat-label>
                                </div>
                            </div>
                            <div class="row ml-2">
                                <div class="col-md-12 text-wrap">
                                    <mat-label class="font-weight-normal text-wrap text-uppercase">Facebook Page :
                                        <div class="text-wrap">
                                            <!-- <p> {{updateUser && updateUser.fbpageurl}}</p> -->
                                            <a href="http://{{updateUser && updateUser.fbpageurl}}"
                                                target="_blank">{{updateUser && updateUser.fbpageurl}}</a>
                                        </div>
                                    </mat-label>
                                </div>
                            </div>
                            <div class="row ml-2">
                                <div class="col-md-12 text-wrap ">
                                    <mat-label class="font-weight-normal text-wrap text-uppercase">Google Page :
                                        <!-- <p>{{updateUser && updateUser.googlepageurl}}</p> -->
                                        <div class="text-wrap">
                                            <a href="http://{{updateUser && updateUser.fbpageurl}}"
                                                target="_blank">{{updateUser && updateUser.googlepageurl}}</a>
                                        </div>
                                    </mat-label>
                                </div>
                            </div>
                        </div>
                        <div class="contactDetails">
                            <h4 class=" font-weight-normal text-uppercase mt-2 mb-2">Contact Details</h4>
                            <div class="row ml-2">
                                <div class="col-md-6">
                                    <mat-label class="font-weight-normal text-uppercase">Contact No :
                                        <label>{{updateUser && updateUser.contactno}}</label></mat-label>
                                </div>
                                <div class="col-md-6">
                                    <mat-label class="font-weight-normal ">Email :
                                        <label>{{updateUser && updateUser.email}}</label></mat-label>
                                </div>
                            </div>
                            <div class="row ml-2">
                                <div class="col-md-12">
                                    <mat-label class="font-weight-normal text-uppercase">Address :
                                        <label>{{updateUser && updateUser.address}}</label>
                                    </mat-label>
                                </div>
                            </div>
                        </div>
                        <div class="authentication">
                            <h4 class=" font-weight-normal text-uppercase mt-2 mb-2">Authentication</h4>
                            <div class="row ml-2">
                                <div class="col-md-6">
                                    <mat-label class="font-weight-normal text-uppercase">Username :
                                        <label>{{updateUser && updateUser.email}}</label></mat-label>

                                </div>
                                <div class="col-md-6">
                                    <mat-label class="font-weight-normal text-uppercase">Password :
                                        <label>{{updateUser && updateUser.password}}</label></mat-label>

                                </div>
                            </div>
                        </div>
                        <div class="addplatform">
                            <h4 class="font-weight-normal text-uppercase mt-2 mb-2">Selected Platform</h4>
                            <div class="row ml-2">
                                <div class="col-md-12">
                                    <mat-label class="font-weight-normal text-uppercase">Platforms :
                                        <label>{{updateUser && updateUser.platformname}}</label></mat-label>
                                </div>
                            </div>
                        </div>
                        <div class="smsservice">
                            <h4 class="font-weight-normal text-uppercase mt-2 mb-2 ">SMS Service</h4>
                            <div class="row ml-2">
                                <div class="col-md-6">
                                    <mat-label class="font-weight-normal text-uppercase">SMS Sender ID :
                                        <label>{{updateUser && updateUser.smsserviceid}}</label></mat-label>
                                </div>
                                <div class="col-md-6">
                                    <mat-label class="font-weight-normal">Message Credit :
                                        <label>{{updateUser && updateUser.msgcredit}}</label></mat-label>
                                </div>
                            </div>
                            <div class="row ml-2">
                                <div class="col-md-4">
                                    <mat-checkbox disabled [(ngModel)]="updateUser && updateUser.birthday">
                                        <span class="font-weight-normal checkBoxCss text-uppercase">Birthday</span>
                                    </mat-checkbox>
                                </div>
                                <div class="col-md-4">
                                    <mat-checkbox disabled [(ngModel)]="updateUser && updateUser.anniversary">
                                        <span class="font-weight-normal checkBoxCss text-uppercase">Anniversary</span>
                                    </mat-checkbox>
                                </div>
                                <div class="col-md-4">
                                    <mat-checkbox disabled [(ngModel)]="updateUser && updateUser.smscampaining">
                                        <span class="font-weight-normal checkBoxCss text-uppercase">SMS
                                            Campaining</span>
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--*********************** End View User**********************-->
    </div>
</div>