<div class="mat-dialog">
    <h4 mat-dialog-title>New Admission Form</h4>
  </div>
  <mat-dialog-content>
  
    <form [formGroup]="enquiryFrom" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
              <mat-form-field >
                <mat-label>FullName</mat-label>
                <input matInput placeholder="FullName" formControlName="fullName"> 
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field >
                <mat-label>Email Id</mat-label>
                <input matInput placeholder="Email Id" formControlName="email">               
              </mat-form-field>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                <mat-form-field >
                  <mat-label>Contact No</mat-label>
                  <input matInput placeholder="Contact No" formControlName="contactNo">               
                </mat-form-field>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <mat-form-field >
                    <mat-label>Course</mat-label>
                    <input matInput placeholder="Course" formControlName="course">               
                  </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <mat-form-field >
                    <mat-label>Message</mat-label>
                    <textarea  rows="5" formControlName="message" ></textarea>             
                  </mat-form-field>
                </div>
            </div>
            <div class="button text-center">
                <!-- <button type='submit'  mat-raised-button class="" [disabled]='!loginForm.valid'>LogIn</button> -->
                <button type="submit" class="btn primary-btn" [disabled]='!enquiryFrom.valid' mat-button>LOGIN</button>
              </div>
  
    </form>
  </mat-dialog-content>
