/* You can add global styles to this file, and also import other style files */

mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}

/****Confirm dialog box css****/

