// .title{
//     background: linear-gradient(90deg, #00aee0 0%, #00fedc 100%);
//     margin: 0 !important;
//     width: 100% !important;
//     padding: 0 !important;
// }
.text-primary{
    font-weight: 500;
    line-height: 1.8rem;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    padding-bottom: 5%;
  }
  .credit-header{    
    margin-bottom: 10%;
    font-size: larger;
    font-weight: 500;
  }
// .title{
//     background: -webkit-linear-gradient(90deg, #e94086 0%, #e5925a 100%) !important;
//     background-size: 200% !important,
// }