<div>
  <div class="credit-header">
    Add Credit
  </div>
  <div>
    <form class="example-form" (ngSubmit)='save()'>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User" name='email' [(ngModel)]='formdata.email' [disabled]='true'>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Message Credit" name='msgcredit' type="number" [(ngModel)]='formdata.msgcredit'
          [disabled]='true'>
      </mat-form-field>
      <div class="text-right">
        <button mat-raised-button class="btn  btn-success" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>