
<div class="mat-dialog">
    <h4 mat-dialog-title></h4>
  </div>
  <mat-dialog-content>
      <div class="text-center">
          <div class="content-container">
            <!-- <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon> -->
            <span class="content-span full-width">Are you sure you want to Logout?</span>
          </div>
          
          <button mat-flat-button id="yes-button" class=" btn mr-2 yes"  mat-dialog-close (click)="logout()" >Yes</button>
          <button mat-flat-button id="no-button" class="btn ml-2 no" [mat-dialog-close]="false">No</button>
      </div>
  
  </mat-dialog-content>