.no{
    background: -webkit-linear-gradient(90deg, red 0%, red 100%) !important;
    margin: 5px;
}
.yes{
    background: linear-gradient(to right, green 0%, green 51%, green 100%);
    background-size: 200% auto;
    margin: 5px;
}