<div class="mat-dialog">
  <h4 mat-dialog-title>Add Service</h4>
</div>
<mat-dialog-content>
  <form [formGroup]="updateServiceForm " (ngSubmit)="onUpdateService()">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <mat-label>Business Service Type</mat-label>
          <input type="text" placeholder="Hotels" aria-label="ServiceType" matInput
            formControlName="businessServiceType" 
            [(ngModel)]="data.businessServiceType">
        </mat-form-field>
      </div>
    </div>


    <div class="button text-right">
      <button type="submit" mat-raised-button color="primary" [disabled]="!updateServiceForm.valid">Update</button>
    </div>
  </form>
</mat-dialog-content>